/* Any demo specific styling needed for this tutorial only */
html, body {
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: 0;
    text-align: left;
	font: 12px Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	background: #0C2635;
}

#preloader {
  width:100%; height:100%; margin:0; padding:0;
  background:#fff 
    url(../images/loading.gif)
    no-repeat center center;
    position:absolute;
    z-index:999;
}

#appLayout {
    height: 100%;
    margin: 0 auto;
}


#loginDropdown_loadingOverlay {
	visibility:hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	opacity: 0;
	z-index: 999;
}

#loginDropdown_loadingOverlay #loading_spinner {
	background:  #DCDCDC url(../images/20x20-loading-gif-animation.gif) no-repeat;
	width: 20px;
	height: 20px;
    margin: 100px;
    color: #999;
}